.estilocss {
    width: "100%";
    height: 1550px;
    background-color: #191970;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.titulo {
    font-family: 'VT323', monospace;
    color: aliceblue;
}
.jogador1 {
    width: 100% ;
    background: #fff;
    padding: 5px 3px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 1px solid aliceblue;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 204, 255, 0.562) 0px 8px 24px;
    }
.jogador2 {
    width: 100%;
    background: #fff;
    padding: 5px 3px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 1px solid aliceblue;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 204, 255, 0.562) 0px 8px 24px;
}
.jogador3 {
    width: 100%;
    background: #fff;
    padding: 5px 3px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 1px solid aliceblue;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 204, 255, 0.562) 0px 8px 24px;
}
.jogador4 {
    width: 100%;
    background: #fff;
    padding: 5px 3px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 1px solid aliceblue;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 204, 255, 0.562) 0px 8px 24px;
}
.jogador5 {
    width: 100%;
    background: #fff;
    padding: 5px 3px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 1px solid aliceblue;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 204, 255, 0.562) 0px 8px 24px;
}
.jogador6 {
    width: 100%;
    background: #fff;
    padding: 5px 3px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 1px solid aliceblue;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 204, 255, 0.562) 0px 8px 24px;
}
.jogador7 {
    width: 100%;
    background: #fff;
    padding: 5px 3px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 1px solid aliceblue;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 204, 255, 0.562) 0px 8px 24px;
}
.jogador8 {
    width: 100%;
    background: #fff;
    padding: 5px 3px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 1px solid aliceblue;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 204, 255, 0.562) 0px 8px 24px;
}
.jogador9 {
    width: 100%;
    background: #fff;
    padding: 5px 3px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 1px solid aliceblue;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 204, 255, 0.562) 0px 8px 24px;
}
.jogador10 {
    width: 100%;
    background: #fff;
    padding: 5px 3px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 1px solid aliceblue;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 204, 255, 0.562) 0px 8px 24px;
}


   /* .estilocss:hover {
       opacity: 1; 
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    width:165px;
    padding:5px 0px;
    margin:auto;
    border:1px solid #2c3e50;
    border-radius:1px;
    font-size:15px;
      text-shadow: 0 0 5px #FFF;
      color:#fff;
    }*/
/*background-color:#c0392b;
    width:165px;
    padding:5px 0px;
    margin:auto;
    border:1px solid #2c3e50;
    border-radius:1px;
    font-size:15px;
    text-shadow: 0 0 5px #FFF;
    color:#fff;
       opacity: 0.8; 
    
    }*/


    